<h1>Proyectos</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>
  <% @proyects.each do |p| %>
    <tr>
      <td><%= p.id %></td>
      <td><%= p.name %></td>
      <td><%= link_to "Editar", edit_proyect_path(p) %></td>
      <td><%= link_to "Eliminar", p, method: :delete, data: { confirm: "Esta seguro de borrar este proyecto?" } %></td>
    </tr>
  <% end %>
</table>
